<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Enter New Password</h3>
    </div>
    <div class="well" style="margin:0">
        <app-form-error [message]="errorMessage"></app-form-error>
        <div *ngIf="success">
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{successMessage}}
            </div>
            <hr>
            <button class="btn btn-primary" routerLink="/auth/login">Login</button>
        </div>
        <div *ngIf="!success">
            <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div class="form-group" [class.has-error]="!valid(mainForm.get('inputPassword'))">
                        <label for="inputPassword" class="col-lg-2 control-label">New Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" placeholder="Password" id="inputPassword" formControlName="inputPassword">
                            <app-form-message [control]="mainForm.get('inputPassword')"></app-form-message>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="!valid(mainForm.get('inputPassword2'))">
                        <label for="inputVerifyPassword" class="col-lg-2 control-label">Verify Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" placeholder="Password verify" id="inputPassword2" formControlName="inputPassword2">
                            <app-form-message [control]="mainForm.get('inputPassword2')"></app-form-message>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-primary" type="submit" [disabled]="!mainForm.valid">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>