$shadow-color: rgba(0, 0, 0, 0.3);
$msg-sent-color: #3f9aff;
$msg-receive-color: #ddd;
.col-md-2,
.col-md-10 {
  padding: 0;
}

.msg_receive {
  background: $msg-receive-color;
  padding-left: 0;
  margin-left: 0;
}

.msg_sent {
  background: $msg-sent-color;
  color: #fff;
  padding-bottom: 20px !important;
  margin-right: 0;
}

.messages {
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px $shadow-color;
  max-width: 100%;
}

.messages>p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}

.messages>time {
  font-size: 11px;
  color: #999;
}

.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}

img {
  display: block;
  width: 100%;
}

.avatar {
  position: relative;
  max-width: 80px;
}

.avatar>img {
  border-radius: 2px;
}

.base_receive>.avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 8px solid $msg-receive-color;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.base_sent>.avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 0;
  height: 0;
  border: 8px solid $msg-sent-color;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 2px 0 rgba(black, 0.1);
}

.msg_sent>time {
  color: #ddd;
  float: right;
}

.msg_container_base::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $shadow-color;
  box-shadow: inset 0 0 6px $shadow-color;
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
